
section{
    margin:0;
    margin-bottom:100px;
}
.sec-1{
    font-family: 'Ubuntu', sans-serif;
}
.h1-color{
    color: burlywood;
}
.flex-attach{
    display: flex;
}
.half-width{
    width: 40%;
    padding-left: 5%;
    padding-top: 5%;
}
h1{
    font-size: 50px;
}
.h1-border{
    border-left: 5px solid burlywood;
}
.half-width img{
    width:70%;
}
.a-button{
    background-color: burlywood;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.align{
    text-align: center;
}
.image-size img{
    width: 40%;
}
h3{
    font-size:30px;
}
.toto{
    display: flex;
    padding-left:5%;
    padding-right: 5%;
}
.bg1{
    background-color: grey;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
}
.bg2 {
    background-color: papayawhip;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
}
.bg3{
    background-color:skyblue;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    border-radius: 10px;
}
.sec-3img img{
    width:80%;
}
.sec-3img{
    background-image:url(dream-bg.png);
    background-repeat: no-repeat;
    padding-left:7%;
}
.bg-2 img{
    width:80%;
}
.bg-2{
    background-image:url(shape-1.png);
    background-repeat: no-repeat;
    padding-left:7%;
}
.sec-3w{
    padding-right:10%; 
}
.head3{
    font-size:50px;
}
p{
    font-size:25px;
}
.sec-4w{
    padding-left:7%;
}
.bgr{
    background-image: none;
}